global
    log        /dev/log    local0
    log        /dev/log    local1 notice
    maxconn    10000
    chroot     /var/lib/haproxy
    user       haproxy
    group      haproxy
    daemon

defaults
    log        global
    mode       http
    option     httplog
    option     dontlognull
    retries    3
    backlog    10000
    timeout    client          30s
    timeout    connect         30s
    timeout    server          30s
# TODO timeout    tunnel          3600s
    timeout    http-keep-alive 1s
    timeout    http-request    15s

frontend public
    bind              *:80
    acl               is_websocket hdr(Upgrade) -i WebSocket
    use_backend       ws if is_websocket
    default_backend   www

backend ws
    server    ws1     127.0.0.1:{{ pea_core_port_websocket }}

backend www
    timeout   server  30s
    server    www1    127.0.0.1:{{ pea_core_port_webserver }}
